body {
    margin: 0;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eceef1;
}

nav {
    height: 40px;
    padding: 8px 10px;
}

#sign-in-container {
    width: 300px;
    float: right;

    font-size: 13px;
}

button {
    height: 30px;
    width: 80px;

    color: white;

    background-color: #0077c5;
    box-shadow: 5%;
    border-radius: 5px;
    border: none;
}

main {
    width: 100%;
    text-align: center;
}

header {
    color: #8d9095;
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 15px;
}

h1 {
    margin-bottom: 10px 
}

#sign-up-container {
    width: 350px;
    margin: 0 auto;
    padding: 15px 30px;

    font-size: 0.9rem;

    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
}

p {
    margin: 0;
}

input {
    display: block;
    width: 330px;   
    height: 32px; 
    padding: 0 8px;
    margin-top: 10px;

    border: 1px solid gray;
    border-radius: 5px;
}

form {
    text-align: start;
}

fieldset {
    width: 100%;
    margin: 30px 0 0 0; 
    padding: 0;
    border: none;
}

#create-account-btn {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 30px 0;

    font-size: 16px;
    font-weight: 400;
}

li {
    display: inline-block;
}

a {
    text-decoration: none
}